<template>
  <div class="circleButton js-click">
    <span class="circleButton__text">{{ hoge }}</span>
    <span class="circleButton__text">{{ xxx }}{{ yyy }}</span>
  </div>
</template>

<style lang="scss" scoped>
    .circleButton {
      background-color: red;
      width: 50px;
      height: 50px;
      border-radius: 50%;

      &__text {
        font-size: 10px;
      }
    }
</style>

 <script lang="ts">
 import { Component, Prop, Vue } from 'nuxt-property-decorator';
 // import Vue from 'vue'

/**
 * 下記コードは vue component を *.js(.ts) ファイルで書く場合の記述
  @Component({
    template: `
      <div class="circleButton">
        <span class="circleButton__text">B</span>
      </div>`
  })
*/
@Component
export default class extends Vue {
  public hoge: string = 'hoge';
  public ttt?: string = undefined;
  public uuu!: string;
  private ddd!: string;
  private hage: string = 'dummy';
  /**
   * Type 'undefined' is not assignable to type 'string'.
   * NG: public ttt: string = undefined;
   * OK: public ttt?: string = undefined;
   */
  /**
   * Type 'null' is not assignable to type 'string | undefined'.
   * NG: public ttt?: string = null;
   * OK: public ttt?: string | null = null;
   */
  /**
   * error[ts] Property 'fff' has no initializer and is not definitely assigned in the constructor.
   * NG: private fff: number;
   * OK: private fff!: number;
   */

  @Prop()
  /**
   * error[vue] Avoid mutating a prop directly since the value will be overwritten whenever the parent component re-renders.
   * NG: xxx: string = '';
   * OK: xxx!: string;
   */
  private xxx!: string;
  @Prop()
  public yyy!: string;

  mounted(): void {
    console.log('hello test component1');
    // this.$el => <div class="circleButton js-click">
    console.log(this.$el);

    this.hoge = 'hage';
    this.hage = 'hagehage'
    // this.hoge = 999; error[ts]: Type '999' is not assignable to type 'string'.
    console.log(`string: ${this.hoge}`);
  }
  test(): string | undefined {
    return undefined;
  }
}
</script>

