<template>
    <div class="circleButton">
      <span class="circleButton__text">A</span>
    </div>
</template>

<style lang="scss" scoped>
    .circleButton {
      background-color: blue;
      width: 50px;
      height: 50px;
      border-radius: 50%;

      &__text {
        font-size: 10px;
      }
    }
</style>

 <script lang="ts">
 import { Component, Prop, Vue } from 'nuxt-property-decorator';
 // import Vue from 'vue'

@Component
export default class extends Vue {
  mounted() {
    console.log('hello test component0')
  }
}
</script>

